<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dani.medicbook" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY"></uses-permission>

    <!--        <uses-permission android:name="android.permission.android.hardware.wifi" />
            <uses-permission android:name="android.permission.android.hardware.wifi.direct" />-->

    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_goku_kanji_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name="org.dani.medicbook.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <activity
            android:name="org.dani.medicbook.RegisterMedicActivity"
            android:label="@string/title_activity_register_medic" >
        </activity>
        <activity
            android:name="org.dani.medicbook.RegisterPatientActivity"
            android:label="@string/title_activity_register_patient" >
        </activity>
        <activity
            android:name="org.dani.medicbook.ConfigurationActivity"
            android:label="@string/title_activity_configuration" >
        </activity>
        <activity
            android:name="org.dani.medicbook.MainFragmentMedicActivity"
            android:label="@string/title_activity_main_fragment" >
        </activity>-->
        <activity
            android:name="org.dani.medicbook.MainFragmentPatientActivity"
            android:label="@string/title_activity_main_fragment_patient" >
        </activity>
        <activity
            android:name="org.dani.medicbook.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>
