<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.dani.medicbook" >

    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_goku_kanji_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterMedicActivity"
            android:label="@string/title_activity_register_medic" >
        </activity>
        <activity
            android:name=".RegisterPatientActivity"
            android:label="@string/title_activity_register_patient" >
        </activity>
        <activity
            android:name=".ConfigurationActivity"
            android:label="@string/title_activity_configuration" >
        </activity>
        <activity
            android:name=".FragmentTestActivity"
            android:label="@string/title_activity_fragment_test" >
        </activity>
        <activity
            android:name=".MainFragmentMedicActivity"
            android:label="@string/title_activity_main_fragment" >
        </activity>
        <activity
            android:name=".ConsultsActivity"
            android:label="@string/title_activity_consults" >
        </activity>
        <activity
            android:name=".NewConsultMedicActivity"
            android:label="@string/title_activity_new_medic" >
        </activity>
        <activity
            android:name=".InfoMedicActivity"
            android:label="@string/title_activity_info_medic" >
        </activity>
        <activity
            android:name=".MainFragmentPatientActivity"
            android:label="@string/title_activity_main_fragment_patient" >
        </activity>
        <activity
            android:name=".ConsultsPatientActivity"
            android:label="@string/title_activity_consults_patient" >
        </activity>
        <activity
            android:name=".NewConsultPatientActivity"
            android:label="@string/title_activity_new_consult_patient" >
        </activity>
        <activity
            android:name=".InfoPatientActivity"
            android:label="@string/title_activity_info_patient" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>
